
body{
    color: white; 
    font-family: georgia, arial, sans-serif;
    
    background: linear-gradient(rgba(0,0,0,.3),rgba(0,0,0,.1));
    
}


header{
    background: black;
    height: 80px;
}



ul li{
    display: inline-block;
    padding: 0 10px;
}

ul li a:link{
    color: #fff;
    text-decoration: none;
    font-size: 1.6em;
}

ul li a:visited{
    color: #fff;
}

ul li a:hover{
    text-decoration: underline;
    color: #fc4545;
}


.clearfix::after {
	content: "";
    display: table;
    clear: both
}

.left {
	float: left;
    margin: 0;
    
   
    height: 80px;
    width: 250px;
}

.left img {
	max-height: 100%;
    max-width: 100%; 
}



.right {
	float: right;
    line-height: 80px;
    margin: 0;  
}


.container {
	margin: 20px auto;
    width: 960px;
    height: 700px;
    
    box-shadow: 5px -5px 15px rgba(0,0,0, .3);
    
}


.dev-img {
    
	float: left;
    width: 450px;
    height: 600px;
    
}

.dev-img img {
	max-height: 100%;
    max-width: 100%;
}


.about-me {
    width: 510px;
    height: 600px;
    float: right;
    color: #cc2222;
    
    box-sizing: border-box;
    padding: 20px;
    
    background-color: black;
}

footer{
    clear: both;
    background-color: white;
    padding: 0;
    height: 100px;
    color: black;
    box-sizing: border-box;
    border: 2px solid rgba(255,0,0,.7);
}

h1,h2{
    text-align: center;
}

h2{
    font-style: italic;
    color: white;
}

p{
    font-size: 1.6em;
    font-style: italic;
    color: white;
}
